/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import '@sweetalert2/theme-dark/dark.scss';

html {
    scroll-behavior: smooth;
}

.v-btn {
    text-transform: none;
}

// .rounded-xl input:required {
//     border-left: 7px solid red;
//     border-top-left-radius: 30px;
//     border-bottom-left-radius: 30px;
// }

// .rounded-lg input:required {
//     border-left: 5px solid red;
//     border-top-left-radius: 10px;
//     border-bottom-left-radius: 10px;
// }

// .required .v-field.rounded-lg .v-field__field {
//     border-left: 5px solid red;
//     border-top-left-radius: 10px;
//     border-bottom-left-radius: 10px;
// }

.required {
    position: relative;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: none;
    color: rgb(var(--v-theme-primary));
  }
  

.required .v-input .rounded-lg::after  {
    content: "";
    width: 100%;
    height: auto;
    border-left: solid 4px #D50000;
    position: absolute;
    left: 1px;
    top: 0px;
    bottom: 0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    z-index: -1;
    margin-top: 1px;
    margin-bottom: 1px;
}

 .required .v-input .rounded-large::after {
    content: "";
    width: 100%;
    height: auto;
    border-left: solid 4px #D50000;
    position: absolute;
    left: 1px;
    top: 0px;
    bottom: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: -1;
    margin-top: 1px;
    margin-bottom: 1px;
}


.required .rounded-xl::after {
    content: "";
    width: 100%;
    height: auto;
    border-left: solid 7px red;
    position: absolute;
    left: 1px;
    top: 0px;
    bottom: 0px;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    z-index: -1;
    margin-top: 1px;
    margin-bottom: 1px;
}

.label {
    width: 100px;
    text-align: right;
    padding-right: 1rem;
    padding-top: 0.5rem
}

.sticky-toolbar {
    position: sticky;
    top: 48px;
    z-index: 9;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.field-label {
    width: 100px;
}

.v-file-input .v-field__input {
    padding: 0px;
}
